.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e9ecef;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top:1px solid rgba(182, 176, 176, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    color: #495057;
}
.nav__notification {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.nav__notification2 {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: 30px;
}